<html>
	<head>
		<title>Tekno - 404</title>
	</head>
	<script>document.addEventListener("click", () => window.location.replace("/"))</script>

	<body bgcolor="#191C21">
		<div align="center">
		<img src="assets/404.png" width="1024" height="512">
		</div>
	</body>
</html>