<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/now-ui-kit.css">
	<link rel="icon" href="assets/BotLogo.png" sizes="192x192">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
	<title>Tekno</title>
  <meta content="Tekno" property="og:title">
  <meta content="Tekno is a multi-feature discord bot, with over 150 commands!" property="og:description">
  <meta content="Tekno" property="og:site_name">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-transparent">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <img src="assets/BotLogo.png" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-itemm active">
                    <a class="btn btn-primary btn-lg" href="/invite" target="_blank" role="button">Invite</a>
                    </li>
        </ul>
    </div>
</nav>
<div class="heading">
    <h1 class="display-5 title">Its time to use TEKNO in your server today!</h1>
    <p class="subtitle">Tekno is the ONLY multi-feature bot you will ever need, with auto moderation, fun, image generation, and much more!</p>
    <br /><br /><br /><br /><br /><br />
</div>
<div class="rounded">
<div class="features">
    <div class="title">Features of Tekno</div>
    <div class="subtitle">We provide you the best features in Tekno!</div>
    <div class="cards">
        <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">sound Utility</h5>
            <p class="card-text">👷‍♂️ Get something useful with our amazing utility commands, and upgrade your server!
                   </p>
        </div>
    </div>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">🔨 Moderation</h5>
                <p class="card-text">👮‍♂️ Moderate your server easily with our amazing moderation commands!</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">😃 Fun</h5>
                <p class="card-text">😂 Make your server laugh and smile with our fun commands!</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="statistics">
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=servers%></h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">servers</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=users%></h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">users</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;"><%=commands%></h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">commands ran</p>
            </div>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Ready to try it?</div>
                <div class="subtitle">Invite Tekno and improve your server!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="invite" role="button">Invite</a>
            </div><br />
        </div>
    </div>
    <div class="footer">
        <div class="bot-footer">
        </div>
        <a href="/faq">FAQ</a>
        <a href="/invite">Invite</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/now-ui-kit.min.js"></script>
<script type="text/javascript"  charset="utf-8">
// Place this code snippet near the footer of your page before the close of the /body tag
// 
                            
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}(';q O=\'\',27=\'1Z\';1O(q i=0;i<12;i++)O+=27.10(C.J(C.N()*27.G));q 2E=6,2M=4u,2h=4v,38=4w,2w=D(t){q i=!1,o=D(){z(k.1g){k.2O(\'2T\',e);F.2O(\'1S\',e)}R{k.2P(\'2U\',e);F.2P(\'24\',e)}},e=D(){z(!i&&(k.1g||4x.2s===\'1S\'||k.2R===\'2S\')){i=!0;o();t()}};z(k.2R===\'2S\'){t()}R z(k.1g){k.1g(\'2T\',e);F.1g(\'1S\',e)}R{k.2V(\'2U\',e);F.2V(\'24\',e);q n=!1;2J{n=F.4z==4A&&k.1W}32(r){};z(n&&n.36){(D a(){z(i)H;2J{n.36(\'13\')}32(e){H 4t(a,50)};i=!0;o();t()})()}}};F[\'\'+O+\'\']=(D(){q t={t$:\'1Z+/=\',4B:D(e){q a=\'\',d,n,i,s,c,l,o,r=0;e=t.e$(e);1e(r<e.G){d=e.16(r++);n=e.16(r++);i=e.16(r++);s=d>>2;c=(d&3)<<4|n>>4;l=(n&15)<<2|i>>6;o=i&63;z(35(n)){l=o=64}R z(35(i)){o=64};a=a+V.t$.10(s)+V.t$.10(c)+V.t$.10(l)+V.t$.10(o)};H a},11:D(e){q n=\'\',d,l,s,c,r,o,a,i=0;e=e.1q(/[^A-4D-4E-9\\+\\/\\=]/g,\'\');1e(i<e.G){c=V.t$.1L(e.10(i++));r=V.t$.1L(e.10(i++));o=V.t$.1L(e.10(i++));a=V.t$.1L(e.10(i++));d=c<<2|r>>4;l=(r&15)<<4|o>>2;s=(o&3)<<6|a;n=n+S.T(d);z(o!=64){n=n+S.T(l)};z(a!=64){n=n+S.T(s)}};n=t.n$(n);H n},e$:D(t){t=t.1q(/;/g,\';\');q n=\'\';1O(q i=0;i<t.G;i++){q e=t.16(i);z(e<1C){n+=S.T(e)}R z(e>4F&&e<4G){n+=S.T(e>>6|4H);n+=S.T(e&63|1C)}R{n+=S.T(e>>12|2m);n+=S.T(e>>6&63|1C);n+=S.T(e&63|1C)}};H n},n$:D(t){q i=\'\',e=0,n=4I=1m=0;1e(e<t.G){n=t.16(e);z(n<1C){i+=S.T(n);e++}R z(n>4J&&n<2m){1m=t.16(e+1);i+=S.T((n&31)<<6|1m&63);e+=2}R{1m=t.16(e+1);2H=t.16(e+2);i+=S.T((n&15)<<12|(1m&63)<<6|2H&63);e+=3}};H i}};q a=[\'4K==\',\'4C\',\'4r=\',\'4i\',\'4q\',\'4a=\',\'4b=\',\'4c=\',\'4d\',\'4e\',\'4f=\',\'4g=\',\'49\',\'4h\',\'4j=\',\'4k\',\'4l=\',\'4m=\',\'4n=\',\'4o=\',\'4p=\',\'4L=\',\'4s==\',\'4M==\',\'59==\',\'5b==\',\'5c=\',\'5d\',\'5e\',\'5f\',\'5g\',\'5h\',\'5a\',\'5i==\',\'5k=\',\'5l=\',\'5m=\',\'5n==\',\'5o=\',\'5p\',\'5q=\',\'5r=\',\'5j==\',\'58=\',\'4X==\',\'57==\',\'5s=\',\'4Q=\',\'4R\',\'4S==\',\'4T==\',\'4U\',\'4V==\',\'4O=\'],v=C.J(C.N()*a.G),w=t.11(a[v]),Y=w,Q=1,W=\'#2n\',r=\'#4W\',g=\'#2n\',b=\'#4Y\',A=\'\',y=\'4Z!\',f=\'51 52 53 54\\\'55 56 4N 48 3T. 46\\\'s 3e.  3k 3q\\\'t?\',p=\'3v 3x 3h-3g, 3a 3p\\\'t 3y 3u V 3l 3d!\',s=\'3j 3r!\',i=0,u=0,n=\'3t.3w\',l=0,M=e()+\'.2G\';D h(t){z(t)t=t.1K(t.G-15);q i=k.2v(\'3n\');1O(q n=i.G;n--;){q e=S(i[n].1H);z(e)e=e.1K(e.G-15);z(e===t)H!0};H!1};D m(t){z(t)t=t.1K(t.G-15);q e=k.3s;x=0;1e(x<e.G){1l=e[x].1o;z(1l)1l=1l.1K(1l.G-15);z(1l===t)H!0;x++};H!1};D e(t){q n=\'\',i=\'1Z\';t=t||30;1O(q e=0;e<t;e++)n+=i.10(C.J(C.N()*i.G));H n};D o(i){q o=[\'3b\',\'3i==\',\'3f\',\'3c\',\'2x\',\'3o==\',\'3A=\',\'3Q==\',\'45=\',\'44==\',\'43==\',\'42==\',\'41\',\'3Z\',\'3Y\',\'2x\'],r=[\'2j=\',\'3X==\',\'3W==\',\'3V==\',\'3U=\',\'3z\',\'3S=\',\'3R=\',\'2j=\',\'3P\',\'3B==\',\'3O\',\'3N==\',\'3M==\',\'3L==\',\'3K=\'];x=0;1Q=[];1e(x<i){c=o[C.J(C.N()*o.G)];d=r[C.J(C.N()*r.G)];c=t.11(c);d=t.11(d);q a=C.J(C.N()*2)+1;z(a==1){n=\'//\'+c+\'/\'+d}R{n=\'//\'+c+\'/\'+e(C.J(C.N()*20)+4)+\'.2G\'};1Q[x]=21 23();1Q[x].1T=D(){q t=1;1e(t<7){t++}};1Q[x].1H=n;x++}};D Z(t){};H{33:D(t,r){z(3J k.K==\'3I\'){H};q i=\'0.1\',r=Y,e=k.1a(\'1w\');e.14=r;e.j.1k=\'1I\';e.j.13=\'-1h\';e.j.X=\'-1h\';e.j.1b=\'2b\';e.j.U=\'3H\';q d=k.K.2Y,a=C.J(d.G/2);z(a>15){q n=k.1a(\'28\');n.j.1k=\'1I\';n.j.1b=\'1u\';n.j.U=\'1u\';n.j.X=\'-1h\';n.j.13=\'-1h\';k.K.3G(n,k.K.2Y[a]);n.1c(e);q o=k.1a(\'1w\');o.14=\'2W\';o.j.1k=\'1I\';o.j.13=\'-1h\';o.j.X=\'-1h\';k.K.1c(o)}R{e.14=\'2W\';k.K.1c(e)};l=3F(D(){z(e){t((e.1V==0),i);t((e.1X==0),i);t((e.1R==\'2u\'),i);t((e.1F==\'2k\'),i);t((e.1J==0),i)}R{t(!0,i)}},26)},1N:D(e,s){z((e)&&(i==0)){i=1;F[\'\'+O+\'\'].1B();F[\'\'+O+\'\'].1N=D(){H}}R{q p=t.11(\'3E\'),u=k.3D(p);z((u)&&(i==0)){z((2M%3)==0){q l=\'3C=\';l=t.11(l);z(h(l)){z(u.1P.1q(/\\s/g,\'\').G==0){i=1;F[\'\'+O+\'\'].1B()}}}};q v=!1;z(i==0){z((2h%3)==0){z(!F[\'\'+O+\'\'].2I){q d=[\'4P==\',\'5u==\',\'61=\',\'7b=\',\'7a=\'],m=d.G,r=d[C.J(C.N()*m)],a=r;1e(r==a){a=d[C.J(C.N()*m)]};r=t.11(r);a=t.11(a);o(C.J(C.N()*2)+1);q n=21 23(),c=21 23();n.1T=D(){o(C.J(C.N()*2)+1);c.1H=a;o(C.J(C.N()*2)+1)};c.1T=D(){i=1;o(C.J(C.N()*3)+1);F[\'\'+O+\'\'].1B()};n.1H=r;z((38%3)==0){n.24=D(){z((n.U<8)&&(n.U>0)){F[\'\'+O+\'\'].1B()}}};o(C.J(C.N()*3)+1);F[\'\'+O+\'\'].2I=!0};F[\'\'+O+\'\'].1N=D(){H}}}}},1B:D(){z(u==1){q L=2p.76(\'2i\');z(L>0){H!0}R{2p.75(\'2i\',(C.N()+1)*26)}};q h=\'73==\';h=t.11(h);z(!m(h)){q c=k.1a(\'71\');c.1Y(\'6Z\',\'6Y\');c.1Y(\'2s\',\'1f/6X\');c.1Y(\'1o\',h);k.2v(\'6W\')[0].1c(c)};6V(l);k.K.1P=\'\';k.K.j.17+=\'P:1u !19\';k.K.j.17+=\'1t:1u !19\';q M=k.1W.1X||F.34||k.K.1X,v=F.6U||k.K.1V||k.1W.1V,a=k.1a(\'1w\'),Q=e();a.14=Q;a.j.1k=\'2r\';a.j.13=\'0\';a.j.X=\'0\';a.j.U=M+\'1z\';a.j.1b=v+\'1z\';a.j.2f=W;a.j.1U=\'6T\';k.K.1c(a);q d=\'<a 1o="6S://6R.6Q"><2D 14="2C" U="39" 1b="40"><2F 14="2B" U="39" 1b="40" 6P:1o="6O:2F/7d;7c,70+7e+7j+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+7y+7z+7A/7x/7u/7f/7s/7r+/7q/7p+7o/7n+7m/7l/7k/7i/7t/7g/7h+7w/7v+6N+6M+6a+6K+5P/5Q+5R/5S+5T/5U+5O+5V+5X+5Y/5Z+6L/62/66/67+5W+5M/5D+5L+5w+5x+E+5y/5z/5A/5B/5v/5C/+5E/5F++5G/5H/5I+5J/5K+68+5N==">;</2D></a>\';d=d.1q(\'2C\',e());d=d.1q(\'2B\',e());q o=k.1a(\'1w\');o.1P=d;o.j.1k=\'1I\';o.j.1y=\'1M\';o.j.13=\'1M\';o.j.U=\'6t\';o.j.1b=\'6v\';o.j.1U=\'2c\';o.j.1J=\'.6\';o.j.2g=\'2e\';o.1g(\'6w\',D(){n=n.6x(\'\').6y().6z(\'\');F.2d.1o=\'//\'+n});k.1E(Q).1c(o);q i=k.1a(\'1w\'),Z=e();i.14=Z;i.j.1k=\'2r\';i.j.X=v/7+\'1z\';i.j.6u=M-6B+\'1z\';i.j.6D=v/3.5+\'1z\';i.j.2f=\'#6E\';i.j.1U=\'2c\';i.j.17+=\'I-1v: "6F 6G", 1n, 1s, 1r-1p !19\';i.j.17+=\'6H-1b: 6J !19\';i.j.17+=\'I-1i: 6C !19\';i.j.17+=\'1f-1A: 1x !19\';i.j.17+=\'1t: 6s !19\';i.j.1R+=\'2L\';i.j.2Z=\'1M\';i.j.6j=\'1M\';i.j.6r=\'2y\';k.K.1c(i);i.j.6d=\'1u 6f 6g -6h 6b(0,0,0,0.3)\';i.j.1F=\'2z\';q Y=30,x=22,w=18,A=18;z((F.34<37)||(6i.U<37)){i.j.2X=\'50%\';i.j.17+=\'I-1i: 6k !19\';i.j.2Z=\'6l;\';o.j.2X=\'65%\';q Y=22,x=18,w=12,A=12};i.1P=\'<2Q j="1j:#6n;I-1i:\'+Y+\'1D;1j:\'+r+\';I-1v:1n, 1s, 1r-1p;I-1G:6o;P-X:1d;P-1y:1d;1f-1A:1x;">\'+y+\'</2Q><2N j="I-1i:\'+x+\'1D;I-1G:6p;I-1v:1n, 1s, 1r-1p;1j:\'+r+\';P-X:1d;P-1y:1d;1f-1A:1x;">\'+f+\'</2N><6q j=" 1R: 2L;P-X: 0.2K;P-1y: 0.2K;P-13: 29;P-2A: 29; 2t:77 47 #6m; U: 25%;1f-1A:1x;"><p j="I-1v:1n, 1s, 1r-1p;I-1G:2q;I-1i:\'+w+\'1D;1j:\'+r+\';1f-1A:1x;">\'+p+\'</p><p j="P-X:6e;"><28 6c="V.j.1J=.9;" 6I="V.j.1J=1;"  14="\'+e()+\'" j="2g:2e;I-1i:\'+A+\'1D;I-1v:1n, 1s, 1r-1p; I-1G:2q;2t-6A:2y;1t:1d;69-1j:\'+g+\';1j:\'+b+\';1t-13:2b;1t-2A:2b;U:60%;P:29;P-X:1d;P-1y:1d;" 72="F.2d.74();">\'+s+\'</28></p>\'}}})();F.2o=D(t,e){q n=5t.78,i=F.79,a=n(),o,r=D(){n()-a<e?o||i(r):t()};i(r);H{3m:D(){o=1}}};q 2l;z(k.K){k.K.j.1F=\'2z\'};2w(D(){z(k.1E(\'2a\')){k.1E(\'2a\').j.1F=\'2u\';k.1E(\'2a\').j.1R=\'2k\'};2l=F.2o(D(){F[\'\'+O+\'\'].33(F[\'\'+O+\'\'].1N,F[\'\'+O+\'\'].4y)},2E*26)});',62,471,'|||||||||||||||||||style|document||||||var|||||||||if||vr6|Math|function||window|length|return|font|floor|body|||random|JIkJahQspvis|margin||else|String|fromCharCode|width|this||top|||charAt|decode||left|id||charCodeAt|cssText||important|createElement|height|appendChild|10px|while|text|addEventListener|5000px|size|color|position|thisurl|c2|Helvetica|href|serif|replace|sans|geneva|padding|0px|family|DIV|center|bottom|px|align|ESlOClWtEl|128|pt|getElementById|visibility|weight|src|absolute|opacity|substr|indexOf|30px|AYlpFpAxuJ|for|innerHTML|spimg|display|load|onerror|zIndex|clientHeight|documentElement|clientWidth|setAttribute|ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789||new||Image|onload||1000|MVNEMAXivG|div|auto|babasbmsgx|60px|10000|location|pointer|backgroundColor|cursor|HOffTLsnou|babn|ZmF2aWNvbi5pY28|none|LCyeFmuCcE|224|5865f2|ibiKmWPJGm|sessionStorage|300|fixed|type|border|hidden|getElementsByTagName|pJYAZEQzbk|cGFydG5lcmFkcy55c20ueWFob28uY29t|15px|visible|right|FILLVECTID2|FILLVECTID1|svg|ZYClNexJxb|image|jpg|c3|ranAlready|try|5em|block|SVhbFtXudD|h1|removeEventListener|detachEvent|h3|readyState|complete|DOMContentLoaded|onreadystatechange|attachEvent|banner_ad|zoom|childNodes|marginLeft|||catch|CrnBSnfIMg|innerWidth|isNaN|doScroll|640|SQMfsEsxmf|160|we|YWRuLmViYXkuY29t|YWQuZm94bmV0d29ya3MuY29t|awesome|okay|anVpY3lhZHMuY29t|income|advertising|YWQubWFpbC5ydQ|Lemme|Who|site|clear|script|YS5saXZlc3BvcnRtZWRpYS5ldQ|can|doesn|in|styleSheets|moc|making|But|kcolbdakcolb|without|keep|MTM2N19hZC1jbGllbnRJRDI0NjQuanBn|YWdvZGEubmV0L2Jhbm5lcnM|c3F1YXJlLWFkLnBuZw|Ly9wYWdlYWQyLmdvb2dsZXN5bmRpY2F0aW9uLmNvbS9wYWdlYWQvanMvYWRzYnlnb29nbGUuanM|querySelector|aW5zLmFkc2J5Z29vZ2xl|setInterval|insertBefore|468px|undefined|typeof|YWR2ZXJ0aXNlbWVudC0zNDMyMy5qcGc|d2lkZV9za3lzY3JhcGVyLmpwZw|bGFyZ2VfYmFubmVyLmdpZg|YmFubmVyX2FkLmdpZg|ZmF2aWNvbjEuaWNv|YWQtbGFyZ2UucG5n|YWR2ZXJ0aXNpbmcuYW9sLmNvbQ|Q0ROLTMzNC0xMDktMTM3eC1hZC1iYW5uZXI|YWRjbGllbnQtMDAyMTQ3LWhvc3QxLWJhbm5lci1hZC5qcGc|blocker|c2t5c2NyYXBlci5qcGc|NzIweDkwLmpwZw|NDY4eDYwLmpwZw|YmFubmVyLmpwZw|YXMuaW5ib3guY29t|YWRzYXR0LmVzcG4uc3RhcndhdmUuY29t||YWRzYXR0LmFiY25ld3Muc3RhcndhdmUuY29t|YWRzLnp5bmdhLmNvbQ|YWRzLnlhaG9vLmNvbQ|cHJvbW90ZS5wYWlyLmNvbQ|Y2FzLmNsaWNrYWJpbGl0eS5jb20|That|solid|ad|QWQzMDB4MTQ1|YWQtaW5uZXI|YWQtbGFiZWw|YWQtbGI|YWQtZm9vdGVy|YWQtY29udGFpbmVy|YWQtY29udGFpbmVyLTE|YWQtY29udGFpbmVyLTI|QWQzMDB4MjUw|YWQtaGVhZGVy|QWQ3Mjh4OTA|QWRBcmVh|QWRGcmFtZTE|QWRGcmFtZTI|QWRGcmFtZTM|QWRGcmFtZTQ|QWRMYXllcjE|YWQtaW1n|YWQtZnJhbWU|QWRzX2dvb2dsZV8wMQ|setTimeout|295|217|154|event|VltdNpXQjZ|frameElement|null|encode|YWRCYW5uZXJXcmFw|Za|z0|127|2048|192|c1|191|YWQtbGVmdA|QWRMYXllcjI|QWRzX2dvb2dsZV8wMg|an|c3BvbnNvcmVkX2xpbms|Ly93d3cuZ29vZ2xlLmNvbS9hZHNlbnNlL3N0YXJ0L2ltYWdlcy9mYXZpY29uLmljbw|YmFubmVyaWQ|YWRzbG90|cG9wdXBhZA|YWRzZW5zZQ|Z29vZ2xlX2Fk|b3V0YnJhaW4tcGFpZA|020222|IGFkX2JveA|FFFFFF|Ello||It|looks|like|you|re|using|YWRfY2hhbm5lbA|YmFubmVyYWQ|QWRzX2dvb2dsZV8wMw|RGl2QWRD|QWRzX2dvb2dsZV8wNA|RGl2QWQ|RGl2QWQx|RGl2QWQy|RGl2QWQz|RGl2QWRB|RGl2QWRC|QWRJbWFnZQ|YWRBZA|QWREaXY|QWRCb3gxNjA|QWRDb250YWluZXI|Z2xpbmtzd3JhcHBlcg|YWRUZWFzZXI|YmFubmVyX2Fk|YWRCYW5uZXI|YWRiYW5uZXI|YWRzZXJ2ZXI|Date|Ly93d3cuZ3N0YXRpYy5jb20vYWR4L2RvdWJsZWNsaWNrLmljbw|BNyENiFGe5CxgZyIT6KVyGO2s5J5ce|1HX6ghkAR9E5crTgM|0t6qjIlZbzSpemi|MjA3XJUKy|SRWhNsmOazvKzQYcE0hV5nDkuQQKfUgm4HmqA2yuPxfMU1m4zLRTMAqLhN6BHCeEXMDo2NsY8MdCeBB6JydMlps3uGxZefy7EO1vyPvhOxL7TPWjVUVvZkNJ|CGf7SAP2V6AjTOUa8IzD3ckqe2ENGulWGfx9VKIBB72JM1lAuLKB3taONCBn3PY0II5cFrLr7cCp|UIWrdVPEp7zHy7oWXiUgmR3kdujbZI73kghTaoaEKMOh8up2M8BVceotd|14XO7cR5WV1QBedt3c|E5HlQS6SHvVSU0V|QhZLYLN54|e8xr8n5lpXyn|u3T9AbDjXwIMXfxmsarwK9wUBB5Kj8y2dCw|Kq8b7m0RpwasnR|uJylU|dEflqX6gzC4hd1jSgz0ujmPkygDjvNYDsU0ZggjKBqLPrQLfDUQIzxMBtSOucRwLzrdQ2DFO0NDdnsYq0yoJyEB0FHTBHefyxcyUy8jflH7sHszSfgath4hYwcD3M29I5DMzdBNO2IFcC5y6HSduof4G5dQNMWd4cDcjNNeNGmb02|Uv0LfPzlsBELZ|j9xJVBEEbWEXFVZQNX9|bTplhb|gkJocgFtzfMzwAAAABJRU5ErkJggg|QcWrURHJSLrbBNAxZTHbgSCsHXJkmBxisMvErFVcgE|uWD20LsNIDdQut4LXA|KmSx|0nga14QJ3GOWqDmOwJgRoSme8OOhAQqiUhPMbUGksCj5Lta4CbeFhX9NN0Tpny|BKpxaqlAOvCqBjzTFAp2NFudJ5paelS5TbwtBlAvNgEdeEGI6O6JUt42NhuvzZvjXTHxwiaBXUIMnAKa5Pq9SL3gn1KAOEkgHVWBIMU14DBF2OH3KOfQpG2oSQpKYAEdK0MGcDg1xbdOWy|iqKjoRAEDlZ4soLhxSgcy6ghgOy7EeC2PI4DHb7pO7mRwTByv5hGxF|I1TpO7CnBZO|h0GsOCs9UwP2xo6|F2Q|UimAyng9UePurpvM8WmAdsvi6gNwBMhPrPqemoXywZs8qL9JZybhqF6LZBZJNANmYsOSaBTkSqcpnCFEkntYjtREFlATEtgxdDQlffhS3ddDAzfbbHYPUDGJpGT|UADVgvxHBzP9LUufqQDtV|uI70wOsgFWUQCfZC1UI0Ettoh66D||Ly9hZHZlcnRpc2luZy55YWhvby5jb20vZmF2aWNvbi5pY28|kmLbKmsE||||pyQLiBu8WDYgxEZMbeEqIiSM8r|x0z6tauQYvPxwT0VM1lH9Adt5Lp|3eUeuATRaNMs0zfml|background|1FMzZIGQR3HWJ4F1TqWtOaADq0Z9itVZrg1S6JLi7B1MAtUCX1xNB0Y0oL9hpK4|rgba|onmouseover|boxShadow|35px|14px|24px|8px|screen|marginRight|18pt|45px|CCC|999|200|500|hr|borderRadius|12px|160px|minWidth|40px|click|split|reverse|join|radius|120|16pt|minHeight|fff|Arial|Black|line|onmouseout|normal|YbUMNVjqGySwrRUGsLu6|szSdAtKtwkRRNnCIiDzNzc0RO|CXRTTQawVogbKeDEs2hs4MtJcNVTY2KgclwH2vYODFTa4FQ|qdWy60K14k|data|xlink|com|blockadblock|http|9999|innerHeight|clearInterval|head|css|stylesheet|rel|iVBORw0KGgoAAAANSUhEUgAAAKAAAAAoCAMAAABO8gGqAAAB|link|onclick|Ly95dWkueWFob29hcGlzLmNvbS8zLjE4LjEvYnVpbGQvY3NzcmVzZXQvY3NzcmVzZXQtbWluLmNzcw|reload|setItem|getItem|1px|now|requestAnimationFrame|Ly93d3cuZG91YmxlY2xpY2tieWdvb2dsZS5jb20vZmF2aWNvbi5pY28|Ly9hZHMudHdpdHRlci5jb20vZmF2aWNvbi5pY28|base64|png|1BMVEXr6|PzNzc3myMjlurrjsLDhoaHdf3|wd4KAnkmbaePspA|0idvgbrDeBhcK|VOPel7RIdeIBkdo|sAAADr6|Lnx0tILMKp3uvxI61iYH33Qq3M24k|oGKmW8DAFeDOxfOJM4DcnTYrtT7dhZltTW7OXHB1ClEWkPO0JmgEM1pebs5CcA2UCTS6QyHMaEtyc3LAlWcDjZReyLpKZS9uT02086vu0tJa|MgzNFaCVyHVIONbx1EDrtCzt6zMEGzFzFwFZJ19jpJy2qx5BcmyBM|ISwIz5vfQyDF3X|cIa9Z8IkGYa9OGXPJDm5RnMX5pim7YtTLB24btUKmKnZeWsWpgHnzIP5UucvNoDrl8GUrVyUBM4xqQ|ejIzabW26SkqgMDA7HByRAADoM7kjAAAAInRSTlM6ACT4xhkPtY5iNiAI9PLv6drSpqGYclpM5bengkQ8NDAnsGiGMwAABetJREFUWMPN2GdTE1EYhmFQ7L339rwngV2IiRJNIGAg1SQkFAHpgnQpKnZBAXvvvXf9mb5nsxuTqDN|b29vlvb2xn5|v7|aa2thYWHXUFDUPDzUOTno0dHipqbceHjaZ2dCQkLSLy|HY9WAzpZLSSCNQrZbGO1n4V4h9uDP7RTiIIyaFQoirfxCftiht4sK8KeKqPh34D2S7TsROHRiyMrAxrtNms9H5Qaw9ObU1H4Wdv8z0J8obvOo|v792dnbbdHTZYWHZXl7YWlpZWVnVRkYnJib8|RUIrwGk|EuJ0GtLUjVftvwEYqmaR66JX9Apap6cCyKhiV|Ly8vKysrDw8O4uLjkt7fhnJzgl5d7e3tkZGTYVlZPT08vLi7OCwu|sAAADMAAAsKysKCgokJCRycnIEBATq6uoUFBTMzMzr6urjqqoSEhIGBgaxsbHcd3dYWFg0NDTmw8PZY2M5OTkfHx|enp7TNTUoJyfm5ualpaV5eXkODg7k5OTaamoqKSnc3NzZ2dmHh4dra2tHR0fVQUFAQEDPExPNBQXo6Ohvb28ICAjp19fS0tLnzc29vb25ubm1tbWWlpaNjY3dfX1oaGhUVFRMTEwaGhoXFxfq5ubh4eHe3t7Hx8fgk5PfjY3eg4OBgYF|fn5EREQ9PT3SKSnV1dXks7OsrKypqambmpqRkZFdXV1RUVHRISHQHR309PTq4eHp3NzPz8'.split('|'),0,{}));
</script>
</body>
</html>